@font-face {
  font-family: "iconfont"; /* Project id 1040563 */
  src: url('iconfont.woff2?t=1631711833072') format('woff2'),
       url('iconfont.woff?t=1631711833072') format('woff'),
       url('iconfont.ttf?t=1631711833072') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-button_add:before {
  content: "\e6a3";
}

.icon-draw_hlinesegment:before {
  content: "\e6a2";
}

.icon-draw_p_rays_lines:before {
  content: "\e6a1";
}

.icon-draw_head_shoulders_bt:before {
  content: "\e6a0";
}

.icon-drawicon_49:before {
  content: "\e69f";
}

.icon-drawicon_48:before {
  content: "\e69e";
}

.icon-drawicon_47:before {
  content: "\e69d";
}

.icon-drawicon_46:before {
  content: "\e69c";
}

.icon-drawicon_45:before {
  content: "\e69b";
}

.icon-drawicon_44:before {
  content: "\e69a";
}

.icon-drawicon_43:before {
  content: "\e699";
}

.icon-drawicon_42:before {
  content: "\e698";
}

.icon-drawicon_41:before {
  content: "\e697";
}

.icon-drawicon_40:before {
  content: "\e696";
}

.icon-drawicon_39:before {
  content: "\e695";
}

.icon-drawicon_38:before {
  content: "\e694";
}

.icon-drawicon_37:before {
  content: "\e693";
}

.icon-drawicon_36:before {
  content: "\e692";
}

.icon-drawicon_35:before {
  content: "\e691";
}

.icon-drawicon_34:before {
  content: "\e690";
}

.icon-drawicon_33:before {
  content: "\e68f";
}

.icon-drawicon_32:before {
  content: "\e67f";
}

.icon-drawicon_31:before {
  content: "\e67e";
}

.icon-drawicon_30:before {
  content: "\e67d";
}

.icon-drawicon_28:before {
  content: "\e67b";
}

.icon-drawicon_29:before {
  content: "\e67c";
}

.icon-drawicon_27:before {
  content: "\e67a";
}

.icon-drawicon_26:before {
  content: "\e679";
}

.icon-drawicon_25:before {
  content: "\e678";
}

.icon-drawicon_24:before {
  content: "\e677";
}

.icon-drawicon_23:before {
  content: "\e676";
}

.icon-drawicon_22:before {
  content: "\e675";
}

.icon-drawicon_21:before {
  content: "\e674";
}

.icon-drawicon_20:before {
  content: "\e673";
}

.icon-drawicon_19:before {
  content: "\e672";
}

.icon-drawicon_18:before {
  content: "\e671";
}

.icon-drawicon_17:before {
  content: "\e670";
}

.icon-drawicon_16:before {
  content: "\e66f";
}

.icon-drawicon_15:before {
  content: "\e66e";
}

.icon-drawicon_14:before {
  content: "\e66d";
}

.icon-drawicon_13:before {
  content: "\e66c";
}

.icon-drawicon_12:before {
  content: "\e66b";
}

.icon-drawicon_11:before {
  content: "\e66a";
}

.icon-drawicon_10:before {
  content: "\e669";
}

.icon-drawicon_9:before {
  content: "\e668";
}

.icon-drawicon_8:before {
  content: "\e667";
}

.icon-drawicon_7:before {
  content: "\e666";
}

.icon-drawicon_6:before {
  content: "\e665";
}

.icon-drawicon_5:before {
  content: "\e664";
}

.icon-drawicon_4:before {
  content: "\e663";
}

.icon-drawicon_3:before {
  content: "\e662";
}

.icon-drawicon_2:before {
  content: "\e661";
}

.icon-drawicon_1:before {
  content: "\e660";
}

.icon-draw_box:before {
  content: "\e65f";
}

.icon-waveruler:before {
  content: "\e65e";
}

.icon-vertical_line:before {
  content: "\e65d";
}

.icon-price_line:before {
  content: "\e65c";
}

.icon-ruler:before {
  content: "\e65b";
}

.icon-linear_3:before {
  content: "\e65a";
}

.icon-linear_2:before {
  content: "\e659";
}

.icon-linear_1:before {
  content: "\e657";
}

.icon-stockStar:before {
  content: "\e658";
}

.icon-camera:before {
  content: "\e654";
}

.icon-change_index:before {
  content: "\e656";
}

.icon-overlay_index:before {
  content: "\e655";
}

.icon-houtui:before {
  content: "\e651";
}

.icon-qianjin:before {
  content: "\e652";
}

.icon-exit:before {
  content: "\e653";
}

.icon-refresh:before {
  content: "\e650";
}

.icon-sub:before {
  content: "\e64e";
}

.icon-add:before {
  content: "\e64f";
}

.icon-guanbi:before {
  content: "\e62b";
}

.icon-sousuo:before {
  content: "\e62a";
}

.icon-margin:before {
  content: "\e629";
}

.icon-shhk:before {
  content: "\e628";
}

.icon-hk:before {
  content: "\e627";
}

.icon-drawicon_message:before {
  content: "\e64d";
}

.icon-drawicon_s:before {
  content: "\e64c";
}

.icon-drawicon_b:before {
  content: "\e70f";
}

.icon-drawicon_close:before {
  content: "\e68c";
}

.icon-drawicon_dollar:before {
  content: "\e626";
}

.icon-drawicon_up:before {
  content: "\e625";
}

.icon-drawicon_down-copy:before {
  content: "\e68b";
}

.icon-drawicon_bad:before {
  content: "\e600";
}

.icon-drawicon_good:before {
  content: "\e624";
}

.icon-kline_train_buy:before {
  content: "\e64a";
}

.icon-kline_train_sell:before {
  content: "\e64b";
}

.icon-bianji:before {
  content: "\e623";
}

.icon-info_num_more:before {
  content: "\e649";
}

.icon-info_num_11:before {
  content: "\e635";
}

.icon-info_num_10:before {
  content: "\e636";
}

.icon-info_num_12:before {
  content: "\e637";
}

.icon-info_num_13:before {
  content: "\e638";
}

.icon-info_num_14:before {
  content: "\e639";
}

.icon-info_num_15:before {
  content: "\e63a";
}

.icon-info_num_1:before {
  content: "\e63b";
}

.icon-info_num_16:before {
  content: "\e63c";
}

.icon-info_num_3:before {
  content: "\e63d";
}

.icon-info_num_17:before {
  content: "\e63e";
}

.icon-info_num_4:before {
  content: "\e63f";
}

.icon-info_num_2:before {
  content: "\e640";
}

.icon-info_num_6:before {
  content: "\e641";
}

.icon-info_num_18:before {
  content: "\e642";
}

.icon-info_num_20:before {
  content: "\e643";
}

.icon-info_num_19:before {
  content: "\e644";
}

.icon-info_num_5:before {
  content: "\e645";
}

.icon-info_num_9:before {
  content: "\e646";
}

.icon-info_num_7:before {
  content: "\e647";
}

.icon-info_num_8:before {
  content: "\e648";
}

.icon-info_quarter_announcement-copy:before {
  content: "\e686";
}

.icon-info_block_trading:before {
  content: "\e630";
}

.icon-info_investor:before {
  content: "\e631";
}

.icon-info_research:before {
  content: "\e632";
}

.icon-info_announcement:before {
  content: "\e633";
}

.icon-info_quarter_announcement:before {
  content: "\e634";
}

.icon-info_research_hscreen:before {
  content: "\e688";
}

.icon-info_block_trading_hscreen:before {
  content: "\e689";
}

.icon-info_investor_hscreen:before {
  content: "\e684";
}

.icon-info_announcement-copy:before {
  content: "\e685";
}

.icon-info_trade_detail_hscreen:before {
  content: "\e68a";
}

.icon-info_trade_detail:before {
  content: "\e62f";
}

.icon-info_pforecast_hscreen:before {
  content: "\e687";
}

.icon-info_pforecast:before {
  content: "\e62e";
}

.icon-jiacu:before {
  content: "\e61f";
}

.icon-shezhi:before {
  content: "\e620";
}

.icon-qingxieL:before {
  content: "\e622";
}

.icon-xia:before {
  content: "\e618";
}

.icon-shang:before {
  content: "\e619";
}

.icon-drawicon_up2:before {
  content: "\e68d";
}

.icon-drawicon_down2:before {
  content: "\e68e";
}

.icon-menu_arraw_right:before {
  content: "\e60b";
}

.icon-menu_arraw_left:before {
  content: "\e60d";
}

.icon-right:before {
  content: "\e601";
}

.icon-left:before {
  content: "\e603";
}

.icon-draw_fibonacci:before {
  content: "\e62d";
}

.icon-draw_quadrangle:before {
  content: "\e62c";
}

.icon-arrow_down:before {
  content: "\e681";
}

.icon-arrow_left:before {
  content: "\e680";
}

.icon-arrow_right:before {
  content: "\e682";
}

.icon-arrow_up:before {
  content: "\e683";
}

.icon-chip_default:before {
  content: "\e621";
}

.icon-draw_hline:before {
  content: "\e61e";
}

.icon-draw_symangle:before {
  content: "\e61d";
}

.icon-draw_circle:before {
  content: "\e61c";
}

.icon-draw_pricechannel:before {
  content: "\e61b";
}

.icon-draw_triangle:before {
  content: "\e61a";
}

.icon-chip_date:before {
  content: "\e617";
}

.icon-draw_wavemw:before {
  content: "\e616";
}

.icon-draw_parallelchannel:before {
  content: "\e615";
}

.icon-draw_text:before {
  content: "\e614";
}

.icon-draw_resline:before {
  content: "\e613";
}

.icon-draw_waveband:before {
  content: "\e612";
}

.icon-draw_percentage:before {
  content: "\e611";
}

.icon-draw_gannfan:before {
  content: "\e610";
}

.icon-draw_goldensection:before {
  content: "\e60f";
}

.icon-draw_trendline:before {
  content: "\e60e";
}

.icon-close:before {
  content: "\e60c";
}

.icon-recycle_bin:before {
  content: "\e60a";
}

.icon-setting:before {
  content: "\e609";
}

.icon-draw_parallel_lines:before {
  content: "\e608";
}

.icon-rectangle:before {
  content: "\e607";
}

.icon-draw_rays:before {
  content: "\e606";
}

.icon-draw_line:before {
  content: "\e605";
}

.icon-index_param:before {
  content: "\e604";
}

.icon-draw_arc:before {
  content: "\e602";
}

