.tools {
    width:100%;
}
.tools .top {
    margin-bottom:2px;
}
.tools .top .toolsButton {
    height:32px;
    padding:0 8px;
    cursor:pointer;
}
.tools .top span {
    padding-left:2px;
}
.tools .top .input {
    height:28px;
    padding-left:5px;
}
.tools .top .changeIndex {
    height:32px;
    width:90px;
}

.tools .table {
    width:19.5%;
    float:left;
}

.tools .table table {
    width:100%;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left:1px;
}

.tools .table table tbody td,.tools .table table thead th {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height:32px;
    padding:5px;
    width:95px;
}
.tools .table table td input{
    width:50px;
}

.tools .code {
    float:left;
    width:60.5%;
}

.tools .cache {
    float:left;
    width:19.8%;
    border:1px solid #ccc;
    height:257px;
    margin-left:-1px;
    overflow-y:auto;
}
.tools .cache li {
    padding:5px;
    height:18px;
}
.tools .cache li.active,.tools .cache li:hover{
    background-color:#26B99A;
    color:#fff;
    cursor:pointer;
}
.tools .cache li span{
    float:right;
    margin-right:5px;
}