/*tooltip的外层样式*/
.jschart-tooltip{
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.23);
    border: solid 1px rgba(200, 210, 219, 0.92);
    padding:7px 20px 15px 13px;
    box-sizing: border-box;
    position:relative;
    display: none;
    z-index: 9;
}

/*tooltip的内层样式*/
.tooltip-title{
    color:#2b3645;
    font-family: 微软雅黑;
    font-size:12px;
    text-align:center;
    display: block;
    line-height: 24px;
}
.tooltip-con{
    color:#2b3645;
    font-family: 微软雅黑;
    font-size:12px;
    line-height: 24px;
}
.tooltip-num{
    font-family: 微软雅黑;
    font-size:12px;
    line-height: 24px;
    text-align: right;
    display:inline-block;
    width:90px;
}


/*区间选择*/
.jschart-selectrect{
    border: dashed 1px #0f248de0;
    display: none;
}

/*提示详情*/
.jchart-klineinfo-tooltip{
    position: absolute;
    z-index: 10;
    max-height: 270px;
    line-height: 28px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.23);
    border: solid 1px rgba(200, 210, 219, 0.92);
    padding: 15px;
    background: rgba(255,255,255,0.92);
    box-sizing: border-box;
    display: none;
}
.total-list{
    color: #f39800;
}
.jchart-klineinfo-tooltip span{
    display: inline-block;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-length{
    max-height: 220px;
    overflow: hidden;
}
.close-munite{
    cursor: pointer;
}
